@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(209, 218, 137);
    color:rgb(0, 0, 0);
}
img {
    max-width: 100%;
    max-height: 100%;
}
header{
    height: 200px;
    width: 100%;
    background-color: darkseagreen;
}
main{
    height: calc(100vh - 200px);
    width: 100%;
    background-color: beige;
}
.logo{
    height: 200px;
    width: 200px;
    float:right
}
.gal intro{
    background-image: url(/imgs/Robbit.gif);
}
.nav1{
    display: flex; flex-direction: row;
    justify-content: center;
}
.vinc{
   display: flex; flex-direction: row;
   justify-content: space-around;
   list-style: none;
}
.vinc a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    font-size: large;
}
.vinc a:hover{
    color: rgb(209, 218, 137);
}
.vinc ul li{
    list-style: none;
    display:inline-block;
    margin-left: 10px;
}
.img{
    border: 3px solid darkorange;
    height: auto;
    width: 100%;
    padding: 20x;
}

.lista{
list-style-type: disc;
list-style-position: inside;
}
h1{
    font-family: 'Tapestry', cursive;
    text-align: center;
}
.quien{
    background-image: url(/imgs/Robbit.gif);
    background-position:center;
    background-size: cover;
    height: 400px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-style: oblique;
}
.desc{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
}
.nav{
    text-align: center;
}

.autor{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.img.img1{
    font-size: x-large;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(/imgs/Robbit.gif);
    background-size: cover;
    background-position: center;
}

.img.img2{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
}
h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(31, 97, 31);
    color: beige;
    padding: 5px;
    text-shadow: 2px 2px 3px forestgreen;
}
.galeria{
    height: 500px;
    width: 100%;
    background-color: beige;
    color: purple;
    text-shadow: 0 0 2px forestgreen;
    padding: 20px;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

}
.gal{
    border: 2px solid darkgreen;
    min.height: 250px;
    width: 100%;
    transition: all 0.7s;
}
.gal:hover{
    transform: scale(1.05);
    transition: all 0.7s;
}
.
.img1{
    background-image: url(imgs/Robbit_Stock.png);
    background-size: cover;
    background-position: center;
}
.img2{
    background-image: url(imgs/Untitled_Artwork\ 1.png);
    background-size: cover;
    background-position: center;
}
.img3{
    background-image: url(imgs/Untitled_Artwork\ 16.png);
    background-size: cover;
    background-position: center;
}.img4{
    background-image: url(imgs/Untitled_Artwork\ 17.png);
    background-size: cover;
    background-position: center;
}
.img5{
    background-image: url(imgs/Untitled_Artwork\ 18.png);
    background-size: cover;
    background-position: center;
}
.img6{
    background-image: url(imgs/Untitled_Artwork\ 19.png);
    background-size: cover;
    background-position: center;
}.img7{
    background-image: url(imgs/Untitled_Artwork\ 20.png);
    background-size: cover;
    background-position: center;
}
.img8{
    background-image: url(imgs/Untitled_Artwork\ 21.png);
    background-size: cover;
    background-position: center;
}
@media only screen and (min-width: 480px) and (max-width: 599px){
    .galeria{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .intro{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 350;
    }
}
@media only screen and (min-width: 600px) and (max-width: 767px){
    .intro{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .quien{
        grid: 1/2;
        grid-row: 1/3;
    }
    .desc{
        grid-template-columns: 2/4;
        grid-row: 1/3;
    }
    .galeria{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .img1{
        grid-column: 1/2;
        grid-row: 1/3;
    }
    .img2{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .img3{
        grid-column: 3/4;
        grid-row: 1/3;
    }
    .img4{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .img5{
        grid-column: 1/3;
        grid-row: 3/4;
    }
    .img6{
        grid-column: 3/4;
        grid-row: 3/4;
    }
    .img7{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .img8{
        grid-column: 2/4;
        grid-row: 4/5;
    }
}
@media only screen and (min-width: 768px){
.galeria{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 250px 250px 250px;
    gap: 20px;
}
}